---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">About me</div>
  </div>

  <div class="mb-10 text-justify">
I’m a seasonally extroverted person narcissistic at times (lol). I <b> procrastinate</b> like a pro and, when no one’s watching, I might sing, or maybe give myself a motivational TED talk in the mirror.
I have strong opinions about geopolitics, food, and philosophy. And if it involves food, travel, and/or meaningful conversations, I’m probably in.
Occasionally I mistake confidence for a personality trait — but hey, it usually works.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="High school"
      subtitle="June 2022 to May 2024 at Narayani Model Secondary School, Bharatpur, Nepal"
    />
    <TimeLineElement
      title="Bachelor of Medicine and Bachelor of Surgery (MBBS)"
      subtitle="December 2025 to Present at Pokhara Academy Of Health Sciences, Pokhara, Nepal"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Volunteered for Awareness campaign regarding dignified menstruation"
      subtitle="From Jun 2024 to Nov 2024 at Miteri Jaibik Pad Udhyog, Chitwan, Nepal"
    >
	•	Assisted in organizing and conducting community outreach programs across multiple villages in Chitwan, focusing on promoting menstrual health, hygiene, and dignity.
	•	Facilitated awareness campaigns to destigmatize menstruation and empower local women and girls through education and open dialogue.
	•	Contributed to building brand awareness of the initiative within the community while supporting sustainable and culturally sensitive health practices.
    </TimeLineElement>
     
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Community Engagement</li>
    <li>Team Collaboration</li>
    <li>Report Writing</li>
    <li>Verbal Storytelling</li>
    <li>Photography</li>
    <li>Resourceful Problem Solving/li>
    <li>Computer Skills </li>
    <li>Active Listening</li>
  </ul>
</BaseLayout>
