---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">About me</div>
  </div>

  <div class="mb-10 text-justify">
I’m Prazwal Regmi — a medical student with a passion for making complex medical knowledge accessible, clear, and human.

Rooted in Nepal and studying medicine with a deep sense of purpose, I use this platform to share what I learn — from disease mechanisms to clinical reasoning — in a way that’s meaningful for both students and the curious mind.

This site reflects my journey through med school, my love for science, and my belief that education should empower, not overwhelm. Whether you’re here to learn, revise, or explore, I’m glad you’ve stopped by.

  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="High school"
      subtitle="June 2022 to May 2024 at Narayani Model Secondary School, Bharatpur, Nepal"
    />
    <TimeLineElement
      title="Title Name"
      subtitle="December 2025 to Present at Pokhara Academy Of Health Sciences, Pokhara, Nepal"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Volunteer for Awareness campaign regarding dignified menstruation"
      subtitle="From June 2024 to [End Date] at Miteri Jaibik Pad Udhyog, Chitwan, Nepal"
    >
     organised various programs community people of various villages in Chitwan District for dignified menstruation and helped in brand awareness as well.
    </TimeLineElement>
  
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
  </ul>
</BaseLayout>
